.PF-Container {
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 6px;
    color: white;
    border: 1px solid var(--background-secondary-alt);
    width: 300px;
}

.PF-Container-Info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid var(--background-secondary-alt);
    padding-top: 12px;
    padding-bottom: 4px;
}
.Svg-Preview svg {
    max-width: 300px;
    height: 300px;
}

.PF-Container-Info-Name {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.ExternalLink-PF {
    margin-right: 4px;
    cursor: pointer;
}